.c-horiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100vw;
}

.sign-in-out-btn {
  width: 10%;
  margin: 0.5rem auto;
}
